h2 2013 Events

= image_tag 'hackathon.jpg', width: '300'
p On March 22nd-23rd SEMADevelopment joined with AT&T Mobility to host the NFC Hackathon For Social Good at Georgia Tech and began development of our first charitable mobile app, StoryTap.

= image_tag 'coderfair.jpg'
p On April 20th SEMADevelopment President Sean Williams spoke at CoderFair Atlanta to promote philanthropy in the mobile development community and promote the SEMADevelopment mission.

= image_tag 'dvd3.jpg', width: '350'
p On July 13th SEMADevelopment hosted its first "Developer Volunteer Day" event at the HighGroove Office of Big Nerd Ranch. The event brought together a team of volunteers who provided support for the StoryTap team in the fields of computer programming, graphic design and marketing.

h2 The SEMADevelopment Learning Process

= image_tag 'dvd1.jpg'
p When it comes to mobile app development, learning is doing. That's why SEMADevelopment is proud to provide a quality learning experience to all volunteers. By working to meet established deadlines, collaborating with professional developers and releasing a quality mobile app to iTunes and Google Play, SEMA Partners enjoy a rewarding learning experience in the process of creating a source of funding for the nonprofit organization of their choice.

h2 What Volunteers Have to Say About SEMADevelopment

= image_tag 'DVDWordCloud.png'
p After our July 13th Developer Volunteer Day we surveyed participants and asked them to pick three words to describe the event, we then used these words to create the word cloud you see above. In addition to strong positive feedback, 100% of participants indicated interest in attending the next SEMADevelopment Volunteer Day. Our team looks forward to improving the learning experience at the next Developer Volunteer Day by implementing the recommendations for improvement from our participants.
