h2
  a href="mailto:sean.williams@semadevelopment.com" Sean Williams
h3 President
p Sean received a degree in International Affairs from Georgia Tech in 2012 and soon after joined the SEMA team. Sean previously worked in Seoul, South Korea for the international trade agency, Kotra and studied abroad in Oxford, England. As a student, Sean collaborated with multiple professors to investigate global problems and was recognized for his research efforts when he received a first-place prize at the annual Georgia Tech Undergraduate Research Symposium.

h2
  a href="mailto:brittany.mays@semadevelopment.com" Brittany Mays
h3 Executive Vice-President
p Brittany is a fourth year business student at Georgia Tech where she has been involved in numerous organizations, including GT Ambassadors and Lambda Sigma, where she served as President. Brittany also worked as a sales intern at Coca-Cola and as the Assistant Marketing Director for Chick-fil-A. Additionally, Brittany is the founder and acting President of One Voice Atlanta, an organization committed to raising awareness about the sex trafficking industry.

h2
  a href="mailto:kurt.nelson@semadevelopment.com" Kurt Nelson
h3 VP of Technology and Development
p Kurt is a fifth year computer science major at Georgia Tech and an avid Linux sysadmin and Ruby on Rails/web programmer. Kurt’s extensive technical experience includes working as a software developer at Big Nerd Ranch, serving as an IT Co-op with the Georgia Tech Research Institute Advanced Concepts Lab, and working as an industrial engineering intern for Walt Disney Parks and Resorts. Additionally, Kurt has done consulting and development for software startups and small businesses.
h2
  a href="mailto:ryan.nolan@semadevelopment.com" Ryan Nolan
h3 VP of Business Strategy
p Ryan is a third year industrial and systems engineering student at Georgia Tech where he has served as the President of Wreckless, Social Chairman for the Greek Community, Vice Chairman of the Presidents' Council Governing Board, and actively serves the Georgia Tech community as a student ambassador. Ryan also worked with MWV where he developed experience in supply chain, sourcing, and procurement.
h2
  a href="mailto:ryan.thurman@semadevelopment.com" Ryan Thurman
h3 VP of Finance
p Ryan received a degree in Business Administration from Georgia Tech in 2012 with a concentration in Accounting and is going to work as an accountant for Ernst & Young. As a student, he was a scholar in the Technology and Management Program, receiving a minor in Engineering, and served as Administrative VP of the Inter-Fraternity Council.
