/*
 *= require_self
 *= require_tree .
 */

$navbarBackground: #66A1D2
$navbarLinkColorHover: #FFCD40
$navbarBackgroundHighlight: #66A1D2
$navbarCollapseWidth: 700px
$navbarHeight: 50px
$navbarLinkColor: white

@import "bootstrap"
html, body
  height: 100%
body
  padding: 125px
@import "bootstrap-responsive"

footer
  text-align: center
  text-color: white
  background-color: $navbarBackground
  height: 200px 
  width: 100%
  #social
    margin-left: auto
    margin-right: auto
    width: 225px
