/*
 *= require_self
 *= require_tree .
 */

$navbar-default-bg: #66A1D2
$navbar-default-link-hover-color: #FFCD40
$navbar-default-link-color: white

@import "bootstrap"
@import "font-awesome"

.largeIcon
  font-size: 50px
  padding-left: 10px
  padding-right: 10px


html, body
  height: 100%
body
  padding-top: 125px

#apps
  .accordion-heading
    height: 160px
    name
      font-size: 25pt
      margin-left: 25px
    .icon
footer
  text-align: center
  text-color: white
  height: 200px
  width: 100%
  #social
    margin-left: auto
    margin-right: auto
    width: 225px
